@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<h2>Data updated successfully</h2>
@section featured
    {
    <a asp-action="Create"> @Html.ActionLink("ADD", "AddDepartment", new { })</a><br />
    <a asp-action="Create"> @Html.ActionLink("SHOW", "ShowDepartment", new { })</a>
}