
@{
    Layout = null;
}
<div class="container body-content">
   
    <a asp-area="" asp-controller="Employee" asp-action="EmployeeIndex">Employee</a>
    <a asp-area="" asp-controller="Employee" asp-action="DepartmentIndex">Department</a>
    <hr />
    </div>